<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Feedback #<%= @feedback.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/feedbacks" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @feedback.user %>
          <a href="/feedbacks/<%= @feedback.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit feedback
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @feedback.user %>
          <a href="/delete_feedback/<%= @feedback.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete feedback
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <% if @feedback.user.present? %>
          <a href="/users/<%= @feedback.user_id %>">
            <%= @feedback.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Comments
      </dt>
      <dd>
        <%= @feedback.comments %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@feedback.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@feedback.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

